[2018-10-28 02:49] apinprastya opened #1 "Text not arranged correctly when text contain new line"
So, when the text contains new lines the text is not correctly arrange.
This text work perfect :
`[text] [text with url] [text]`

But this one not :
`[text] [newline] [text with url] [newline] [text]`

[2018-10-30 15:42] Cretezy commented on #1
Can you provide the code for each of your examples, and screenshots of the results?

[2018-11-04 07:41] apinprastya commented on #1
Hi @Cretezy, sorry for late reply. You can reproduce the bug by edit the example :
please check https://github.com/Cretezy/flutter_linkify/blob/master/example/lib/main.dart#L25

And change the line with this line :
`text: "Made by\nhttps://cretezy.com \n Hi Again",`

[2018-11-05 18:18] Cretezy commented on #1
Fixed! I just published v1.0.2. Thanks for the report!

[2018-11-06 08:08] hasseye opened #2 "URL Issue"
www.yahoo.com isn't found as a link, only http://www.yahoo.com. Anything that has www before it should be considered a link, IMO.

[2018-11-07 00:14] apinprastya commented on #1
Hi @Cretezy , it still happening.
![screenshot from 2018-11-07 06-59-06](https://user-images.githubusercontent.com/1171479/48102223-afda7b80-e25c-11e8-876c-1fa8aab446f3.png)

[2018-11-07 00:35] apinprastya commented on #1
That freshly new clone from github. First I try on my project and update the version to 1.0.2, but it still happening, and then I clone it from github and run the example in case I have problem with my project. But it also happen on example

[2018-11-07 00:40] Cretezy commented on #1
Alright I'll take another look when I get home. Not too sure what's going on

[2018-11-07 04:07] Cretezy commented on #1
Alright pushed v1.0.3 with the fix for this! Was using `\s?` instead of `\s*?` for matching whitespace. Let me know how it is!

[2018-11-10 02:39] apinprastya commented on #1
Hi again @Cretezy, the bug still occure when I have several new lines.
![screenshot from 2018-11-10 09-35-18](https://user-images.githubusercontent.com/1171479/48296674-63957280-e4cc-11e8-9619-a961a188f701.png)

[2018-12-09 05:46] jinfagang opened #3 "Great util in Flutter, how about multi url in one text though?"
Hi, this is helpful, would u like to add multi url support? It's a little complicated casue we have to solve every url click event

[2018-12-10 19:04] Cretezy commented on #3
Sorry, I don't understand what you mean. Could you explain in better details and provide an example?

[2018-12-11 01:43] jinfagang commented on #3
@Cretezy Thanks your response!! I mean something like this:

text:

[code]

Simply, how to recognize those 2 urls (or more), and corresponding each one open event action.

BTW, how to enable the `baidu.com` and `www.baidu.com` linkify rather than only `http://baidu.com`?

[2018-12-11 07:31] Cretezy commented on #3
The multi URLs already should work.

The mode without http is "loose", and is not implemented yet

[2018-12-11 14:49] jinfagang commented on #3
@Cretezy Seems long time ago communit got this problem but still not done yet, is that very complicated? I am totally new to dart but I would definitely wanna help if you have some solution to get it done... We really need such a maintained and useful lib

[2019-02-19 23:06] huulbaek commented on #1
I'm experiencing the same as @apinprastya – any news on this? Or is the issue really closed?

(thanks for the great contribution, btw)

[2019-02-19 23:15] Cretezy commented on #1
Hey sorry, haven't gotten to fixing this. I'll take a look into it now.

[2019-02-19 23:28] Cretezy commented on #1
Update:

![image](https://user-images.githubusercontent.com/2672503/53054844-c0ada680-3473-11e9-9bcd-06be35f5406e.png)

Pushed out v1.0.4 with the update.

[2019-02-19 23:29] #1 closed

[2019-02-19 23:30] Cretezy commented on #3
Hey! v1.0.4 should have a fix for this. (https://github.com/Cretezy/flutter_linkify/issues/1)

[2019-02-19 23:30] #3 closed

[2019-02-19 23:45] Cretezy opened #6 "Split into Dart and Flutter packages"
I would like to split this package into 2:
- Core reusable parsing library
- Flutter-specific library

This is to make the parsing library reusable for other frameworks or libraries which do not use Flutter. This should be fairly simple and straight forward, as the parsing and Flutter code are already in 2 different files, totally separate.

[2019-03-01 18:52] voivoed commented on #1
I'm having the same issue, multiple links with \n, only the link on the first line gets humanized (I wrapped the Linkify widget creation in a function):

_makeLink(
  context,
  "Freepik at https://www.freepik.com/\n"
  "Daniel Bruce at http://www.entypo.com\n"
  "Aristeides Stathopoulos at http://aristeides.com/\n"
  "Smashing Magazine at http://designmodo.com/linecons-free/\n"
  "Dave Gandy at h

[2019-03-01 18:54] Cretezy commented on #1
@voivoed I'm not too sure what's wrong with the code you presented.

Are you on the latest version?

Can you give a full code example I can run, and the expected vs actual results?

[2019-03-01 20:59] voivoed commented on #1
@Cretezy  I'm using the latest version, just created a simple project to test it.

[code]

When I run it, the first "https//" (from cretezy.com) gets removed as per the "humanize" parameter, but the next 2 (github and flutter) stay there. Here's a screenshot:

![capture](https://user-images.githubusercontent.com/48135618/53666003-f18f9780-3c3a-11e9-96b6-488f91eaa552.JPG)

[2019-03-03 02:05] Cretezy commented on #1
Ah yes, that's definitely a bug. I'll take a look soon. We'll track this in another issue though since it's related to this

[2019-03-04 01:28] Cretezy commented on #1
@voivoed Fixed in v1.1.1! What a very simple fix

[2019-03-04 14:53] voivoed commented on #1
@Cretezy it's working now, thanks!

[2019-03-10 17:22] PieterAelse opened #7 "Support for email addresses"
Could support be added for email addressed? So when a text contains `xxx@xx.xx` (see dart linkify package for regex), it's clickable.

Adding support for subject and body would be even more awesome!
 `url_launcher` should be able to handle `subject` and `body` too.

[2019-03-10 17:45] Cretezy commented on #7
This seems like a great use-case, I'll look into adding it to the next version. Feel free to open a PR!

[2019-03-10 22:48] PieterAelse commented on #7
If only I had time! 😜

[2019-03-12 20:18] PieterAelse opened #9 "Lines not arranged in correct order"
Line order gets messed up when using multiple `\n` with at leaste one link in the text.
Example: `First line.\nSecond line.\nThird line\nFourth line: https://fourth.com`

Tested on v1.1.1.

Screenshot:
![Screenshot_1552421760](https://user-images.githubusercontent.com/6347879/54232897-0eb24900-450c-11e9-8399-06ec3c19f005.png)

Code:
[code]

[2019-03-18 01:13] Cretezy commented on #7
Thanks a lot @PieterAelse for the great work on this!

[2019-03-18 01:13] #7 closed

[2019-03-18 01:32] Cretezy commented on #9
![image](https://user-images.githubusercontent.com/2672503/54501509-199a1e80-48fc-11e9-934a-8b61d3728f90.png)

Fixed in 2.0.0!

[2019-03-18 01:32] #9 closed

[2019-03-18 12:08] PieterAelse commented on #7
You're welcome @Cretezy! Cool to see it in action in the 2.0 release 😃

[2019-03-19 19:41] mannprerak2 opened #10 "Support for phone number"
Add support for phone numbers so they could be opened easily

[2019-03-21 08:28] dukaric1991 opened #11 "Is it possible to center align text?"
Can i center my text like with default `Text(textAlign: TextAlign.center,)`?

[2019-03-21 08:32] dukaric1991 opened #12 "Can i have text link without the actual url?"
Can i have text like this: "Click this **link**" without actual url to be visible like so: "Click this www.somesite.com" ?

[2019-03-21 14:30] Cretezy commented on #12
I think this is something we want to add. If you want to do this yourself without this library, you can use a `RichText` Widget with multiple text span, and have one for a link with it's own style and gesture reconizer. Take a look at the code to see how to do it.

[2019-03-21 14:32] Cretezy commented on #11
Ah yeah this is missing and easy to add. Will do tonight

[2019-03-23 19:04] Cretezy commented on #11
Added in v2.1.0.

[2019-03-23 19:05] #11 closed

[2019-03-23 19:07] Cretezy commented on #6
Added in v2.1.0 https://github.com/Cretezy/linkify

[2019-03-23 19:07] #6 closed

[2019-03-25 01:03] Cretezy commented on #12
I've updated the library with a new `buildTextSpan` function, which you can put the `LinkifyElement` in to get a TextSpan that is linked. This should enable all these use-cases

[2019-03-25 01:03] #12 closed

[2019-03-25 10:23] dukaric1991 commented on #12
Can show some example? And thank you for quick feedback!

[2019-03-27 22:54] Cretezy commented on #12
Something like:
[code]

[2019-03-28 07:39] dukaric1991 commented on #12
I dont know where to put RichText element into Linkify. Like this?

[code]

[2019-03-28 14:24] Cretezy commented on #12
No need to use `Linkify` here, we're using `buildTextSpan` as a replacement.

[code]

[2019-04-05 03:17] scottdewald opened #13 "Support for URL without HTTP"
Thanks for this great library. I am currently using it in one of my applications and it works great.

It appears that links only work if they are prefixed with `http://` or `https://`. Could you also support links like `www.google.com`? My application has a lot of user-generated content and I have noticed some users do not add `https://` when typing out links.

[2019-04-05 17:26] Cretezy commented on #13
Check out Cretezy/linkify, we have a ticket there for loose URLs (what you are asking)!

[2019-04-05 17:26] #13 closed

[2019-04-09 07:46] Geekoo-Joker opened #14 "another linkify"
I found another one ：https://github.com/Cretezy/linkify
Which one to choose

[2019-04-09 07:59] #14 closed

[2019-04-09 15:21] Cretezy commented on #14
This one is for Flutter, the other is the underlying Dart library that can be reused anywhere

[2019-04-12 15:31] vkusenko opened #15 "Support for phone numbers with custom patterns"
Would be not bad implement support for phone numbers with custom patterns.

[2019-04-12 20:50] Cretezy commented on #15
https://github.com/Cretezy/linkify/pull/4

The library for parsing is in a separate package, and this feature is already WIP :yum:

[2019-04-12 20:50] #15 closed

[2019-06-03 19:18] James-A-White opened #16 "Text preceded by an /r/n (carriage return + linefeed) causes REGEX parser to fail"
Hello!

Great plugin! Saved me so much time fiddling with text spans!!!!

I ran into one problem, I'm pulling text from a database connection and the text is returned with carriage returns and linefeeds, which seems to make the REGEX parser fail. To fix it, I do a text replace of all '\r\n' to simply '\n' and Linkify works perfectly.

Might be something to look at in a future release, but in the i

[2019-06-12 22:19] scottdewald opened #17 "Expose maxLines and overflow RichText Fields"
Just like you expose the `textAlign` and `textDirection` `RichText` fields within the `Linkify` class, can you also please expose the `maxLines` and `overflow` fields? Something like:

[code]

Thanks again for this great utility package.

[2019-06-12 22:23] scottdewald commented on #17
By the way, I made the change locally and verified links still work properly if you set `maxLines` and the link is partially truncated.

[2019-06-29 22:06] Cretezy commented on #17
Ah damn I'm so sorry, this slipped under my radar (damn GitHub notifications!). I've merged your PR and will close this, I will push the update soon

[2019-06-29 22:06] #17 closed

[2019-07-24 14:25] ali-thowfeek opened #20 "Why is this widget not extending the "Text" widget?"
Because, if it would then we would have all the features it provides, like the `maxLines`, `text overflow` and many more...

[2019-07-24 15:32] Cretezy commented on #20
You can provide many of these features to the RichText widget too, which is required to have multi-section of texts. Which features do you need?

[2019-07-25 18:24] ali-thowfeek commented on #20
I needed `maxLines`,text `overflow` to make an expandable text widget which recognizes links at the same time. `flutter_linkify` was promising, but got stuck on the way. I also wanted to render html & css on that widget, so I guess i'll have to figure out another way somehow.

[2019-07-25 18:24] #20 closed

[2019-08-28 17:23] Aljulanda9 opened #21 "Phone number support"
Hi, thanks for the wonderful plugin. Just wanted to ask if you're planning on adding support for phone numbers or perhaps even custom regex.

Thanks,

[2019-10-01 07:42] mudi256 opened #22 "Text size problem"
text size not change according to mobile font size.
When we change the mobile font size (small to large or large to small) from settings linkify text font size not change, while in whole app all Text font size change according to mobile font size.

[2019-10-01 17:22] Cretezy commented on #22
Can you please add a code example?

[2019-10-02 02:10] mudi256 commented on #22
below is code snippet
`Linkify(
                                onOpen: (link) async {
                                  if (await canLaunch(link.url)) {
                                    await launch(link.url);
                                  } else {
                                    throw 'Could not launch $link';
                                  }
                                },

[2019-11-10 10:17] thanvandh4435 opened #23 "Max lines property missing on version 2.1.0"

[2019-11-11 19:41] altShiftDev opened #24 "Linkify Multiple URLs in one String"
Hi, It would be nice if the plugin could handle a case like the following:

Currently it ignores the email if it finds a link and can only find a link if http/https is prefixed. Once it finds any match it will ignore the rest of the string, even if other valid matches exist.

[2019-11-14 22:51] charleshan opened #25 "Please release the next version"
It looks like this repo merged a pull request that added `maxlines` and `overflow` a few months back. It would be great to have these available as a release.

Thanks!

[2019-11-20 08:58] pilotviper134 commented on #25
I agree! We need new update

[2019-11-20 16:36] Cretezy commented on #25
Will do tonight

[2019-11-26 14:31] pilotviper134 commented on #24
Any ideas how to fix this?

[2019-12-07 14:19] charleshan commented on #25
/reminder

😁

[2019-12-10 14:22] AndroidMing opened #26 "Please support custom LinkType"
Our project needs to identify url without the prefix "http://", such as "www.google.com".
If I can pass a custom RegExp as param, many cases can be supported.
Thanks.

[2019-12-24 16:55] Erfa opened #27 "TextStyle changes from parents are lost"
I noticed that if you have a TextStyle as a parent Widget to Linkify, that styling is overriden by whatever style you set in Linkify.

Here's an example:
[code]

This will correctly identify the link, but it will lose the `TextDecoration.lineThrough` defined by the parent. Seems like the desired behavior would be to merge them? I'm fairly new to Flutter so I'm not sure if it's possible.

[2019-12-27 19:18] Cretezy commented on #21
This is now possible with `linkify` v2 (out in this library's v3). You can pass a custom `linkifier`, see https://github.com/Cretezy/linkify for more information!

[2019-12-27 19:18] #21 closed

[2019-12-27 19:18] Cretezy commented on #26
This is now possible with `linkify` v2 (out in this library's v3). You can pass a custom `linkifier`, see https://github.com/Cretezy/linkify for more information!

[2019-12-27 19:18] #26 closed

[2019-12-27 19:18] Cretezy commented on #25
Done! Sorry for being late

[2019-12-27 19:18] #25 closed

[2019-12-27 19:19] Cretezy commented on #24
This is supported, the email should not have `mailto:` at the start to be reconized. You can implement a custom parser for `mailto:` if you'd like using the latest version and a parser for https://github.com/Cretezy/linkify

[2019-12-27 19:19] Cretezy commented on #23
Latest update (v3) contains this!

[2019-12-27 19:19] #23 closed

[2019-12-27 19:21] Cretezy commented on #22
Sorry this wouldn't be related to this library I think. It uses RichText and TextSpans to build the widgets, so this would be upstream with Flutter.

You can pass in a size to the TextStyle which would work though. If you can give me a better example I can probably help

[2019-12-27 19:21] #22 closed

[2019-12-27 19:28] Cretezy commented on #27
This is due to `DefaultTextStyle` not overriding `body1`.

Doing this does fix it:

[code]

Doing does the same but is much simpler:

[code]

![image](https://user-images.githubusercontent.com/2672503/71529837-ca364500-28b4-11ea-8378-194f3bbbf995.png)

To change the link to also have `lineThrough`, pass it in the `linkStyle`:

[code]

![image](https://user-images.githubusercontent.com/2672503/7152

[2019-12-27 19:28] #27 closed

[2019-12-27 19:29] #24 closed

[2020-01-03 17:23] searchy2 opened #28 "Behavioral Change: Incorrect TextOverflow Default"
PR #18 introduced a behavioral change that causes text to truncate by default.

The default TextOverflow value for RichText is `TextOverflow.clip`. The provided default is `TextOverflow.ellipsis`. This is incorrect and changes the behavior for existing users of this library.

[2020-01-03 18:22] #28 closed

[2020-01-03 18:48] MTRNord opened #30 "Support SelectableText"
In Flutter 1.9 there is a way to make text selectable. It would be awesome if this can be activated for this lib to allow text to get copied. :D

https://api.flutter.dev/flutter/material/SelectableText-class.html

[2020-01-03 19:07] Cretezy commented on #30
Sounds fairly easy to support, will add over the weekend!

[2020-01-03 20:01] MTRNord commented on #30
Awesome thanks!

[2020-01-10 16:02] Cretezy commented on #30
Done! Sorry if it took a bit longer than expected. With v3.1.0 you can use SelectableLinkify!

[2020-01-10 16:02] #30 closed

[2020-01-10 23:19] MTRNord commented on #30
Thanks a lot!

[2020-01-17 04:57] lukelyyeung opened #31 "onOpen of SelectableLinkify is never called"
**SelectableLinkify** 's onOpen is never called. Maybe related to https://github.com/flutter/flutter/issues/43494

Platform: iOS 13.3

Reproducible code

[code]

flutter doctor result
[code]

[2020-01-17 15:12] Cretezy commented on #31
Yep this looks valid. I'll take a look at it later today!

[2020-01-29 23:57] AndroidNils commented on #31
Same issue.

[2020-01-30 00:09] AndroidNils opened #32 "Linkify highlights also "." at the end of a link."
A "." at the end of a link should not highlighted. Like: [www.google.de](url).

**Code:**
[code]

**Result:**
![image](https://user-images.githubusercontent.com/24459435/73408497-b68b5d80-42fc-11ea-90cd-249cf4a3b133.png)

[2020-01-30 23:26] Cretezy commented on #31
Unfortunately, this seems to be a Flutter bug. I'll keep this ticket open until it is resolved upstream.

https://github.com/flutter/flutter/issues/43494

[2020-02-02 11:28] da-revo commented on #31
Same problem. Good Luck

[2020-02-19 15:54] Sameerkash commented on #31
[``](https://github.com/flutter/flutter/issues/43494#issuecomment-584497405)

this seems to have the solution to the issue.

[2020-03-12 10:50] pmrajani commented on #13
@scottdewald Can i show code please!

[2020-03-23 12:27] itsgauravjain22 opened #33 "[Feature Request] Include phone and telephone numbers into this"
I would request to detect mobile and telephone numbers and make them clickable, same as react-native.

[2020-03-26 14:04] hkndzdr commented on #31
It's not the right solution. It has a link feature in texts where there is no link feature. Multitext is everywhere clickable and has link feature. This is not what is desired.

[2020-04-11 10:23] kw2019ltd opened #34 "link is broken when there is a spaces in url"
![image](https://user-images.githubusercontent.com/47334522/79041319-895e0400-7bf7-11ea-865e-51d43425947a.png)

[2020-04-12 18:43] Cretezy commented on #34
That's not a valid URL, spaces in URLs are represented by `%25`. Make sure to URL encode first.

[2020-04-12 18:43] #34 closed

[2020-04-15 16:09] dvird commented on #31
?

[2020-04-26 15:25] MoacirSchmidt opened #35 "Please implement markdown support for embedded links"
Something like this in text:

[code]
Will be rendered as

Would you like to visit **Google**? (in blue, of course)

You can use flutter_markdown package for this?

Congratulations for your excellent package!

[2020-04-27 18:17] #35 closed

[2020-05-05 18:19] MoacirSchmidt opened #36 "Please add support for flutter web"
Please add support for flutter web

(link's are not clickable in flutter web)

[2020-05-06 08:06] rajathk commented on #31
@Cretezy Any update on this please?

[2020-05-06 09:53] Cretezy commented on #31
This has been fixed in Flutter, see linked thread. Please run flutter upgrade. It might only be in master/dev so far, so hold on a bit longer!

[2020-05-06 09:53] #31 closed

[2020-05-06 10:47] rajathk commented on #31
Thanks @Cretezy. Just verified the fix in dev channel version 1.18.0-10.0.pre.

[2020-05-06 12:09] Cretezy commented on #36
Works for me. I've updated the `example` to include a web example.

Can you provide a sample of code that you are using?

[2020-05-08 15:28] iamatulkumar opened #37 "Compiler error with Theme"
Compiler message:
../../../../Documents/flutter_tools/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_linkify-3.1.3/lib/flutter_linkify.dart:113:44: Error: The getter 'bodyText2' isn't defined for the class 'TextTheme'.
 - 'TextTheme' is from 'package:flutter/src/material/text_theme.dart' ('../../../../Documents/flutter_tools/flutter/packages/flutter/lib/src/material/text_theme.dart').
Try corr

[2020-05-08 15:43] Cretezy commented on #37
`flutter upgrade`

You are likely running a very old version of Flutter.

[2020-05-08 15:45] #37 closed

[2020-05-11 00:59] andrea-h10 opened #38 "SelectableLinkify - links not working"
I've got it working fine using the Linkify widget.

BUT when I use SelectableLinkify: links still show using the link style (blue underline) BUT links no longer load when clicked.

Thank you!

code to replicate:

[code]

[2020-05-11 03:08] Cretezy commented on #38
Please upgrade your Flutter with `flutter upgrade`

https://github.com/Cretezy/flutter_linkify/issues/31

[2020-05-11 03:08] #38 closed

[2020-05-18 14:52] vernalclareai opened #39 "Not linkable on the link"
I can not get the callback for click on the link text using SelectableLinkify.

[2020-05-18 19:34] Cretezy commented on #39
https://github.com/Cretezy/flutter_linkify/issues/31

`flutter channel dev && flutter upgrade`

[2020-05-18 19:34] #39 closed

[2020-05-23 06:40] shivamgupta opened #40 "Error: The getter 'bodyText2' isn't defined for the class 'TextTheme'."
Gives the following error after adding flutter_linkify: ^3.1.3 to pubspec.yaml

Compiler message:
../../Developer/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_linkify-3.1.3/lib/flutter_linkify.dart:113:44: Error: The getter 'bodyText2' isn't defined for the class 'TextTheme'.
 - 'TextTheme' is from 'package:flutter/src/material/text_theme.dart' ('../../Developer/flutter/packages/flutter/lib/

[2020-05-23 10:03] Cretezy commented on #40
`flutter upgrade`, please use a recent flutter version

[2020-05-23 10:03] #40 closed

[2020-05-28 07:21] SureShDood opened #41 "Could not able to find the linkify failed"

[2020-05-28 07:29] SureShDood opened #42 "Could not able to find the linkify without https://"
example :
 facebook.com
 www.google.com

used loose, http://facebook.com considered url.

if i used loose, all dots (.) consider that url.
example. http://1.  or something. also considered url.

Please fix it asap.

[2020-06-04 15:56] jamesderlin opened #44 "pubspec.yaml does not specify a minimum Flutter version"
To avoid issues like https://github.com/Cretezy/flutter_linkify/issues/40 or https://stackoverflow.com/questions/62196357/, flutter_linkify's `pubspec.yaml` file should specify the minimum required Flutter version.  The new `TextTheme` properties require Flutter 1.13.8 or newer.

[2020-06-05 16:31] Cretezy commented on #44
This is a good idea. Will add soon

[2020-06-06 06:45] keehyun2 opened #45 "Thank you for making the module easy to use"
Thank you for making the module easy to use

Can I ask for one additional feature development?

I wish I had the ability to find the **phone number** in the sentence.

Is that possible?

I would like to ask if possible.

[2020-06-08 09:08] MustansirZia opened #46 "Considers words at the end of a sentence as a valid url when looseUrl = true."
Hey!

Really thanks for making this package and it has proven to be quite useful for us. There's one issue however that I found. If `looseUrl` is set to `true` then words at the end of sentences are also considered as valid links. I'm not sure if this is the right package for this issue but I'm still going to add it here.

Here's a live example.
<img width="200" alt="Screenshot 2020-06-08 at 2 37

[2020-06-09 11:45] iavsm opened #47 "Multiple Url is not displaying."
I am trying two display two URLs with the below code but it's detecting only the first one.

`inkify(
          onOpen: (link) async => {
            if (await canLaunch(link.url))
              {
                await launch(link.url),
              }
            else
              {
                throw 'Could not launch $link',
              }
          },
          text: message,
          st

[2020-06-09 21:37] Atreto76 opened #48 "Escape character \r causes any URLs after it not to become hyperlinked"
When a \r escape character is in the string given to the Linkify widget, anything after that escape character does not become a clickable hyperlink. This is a problem as I'm getting information from an API but the data returned contains \r\n for newlines (which is a common escape character sequence). A workaround is to simply remove all \r escape characters from the string but there wasn't any ind

[2020-06-14 11:18] iavsm commented on #47
This method get link from the server. I doubled checked links are coming as expected.

[2020-06-28 09:11] leielyq opened #49 "可以将链接替换成其他文本或widget吗"
rt

[2020-06-28 09:26] leielyq commented on #49
自定义UrlLinkifier可以实现显示特定文本

[2020-06-28 09:26] #49 closed

[2020-06-29 22:01] mwolffalonso opened #50 "The getter 'bodyText2' isn't defined for the class 'TextTheme'"
Compiler message:
../../../AppData/Roaming/Pub/Cache/hosted/pub.dartlang.org/flutter_linkify-3.1.3/lib/flutter_linkify.dart:113:44: Error: The getter 'bodyText2' isn't defined for the class 'TextTheme'.
 - 'TextTheme' is from 'package:flutter/src/material/text_theme.dart' ('../../flutter/packages/flutter/lib/src/material/text_theme.dart').
Try correcting the name to the name of an existing getter,

[2020-06-30 14:01] Cretezy commented on #50
`flutter upgrade` Please upgrade to a recent Flutter version

[2020-06-30 14:01] #50 closed

[2020-06-30 14:02] Cretezy commented on #45
Phone numbers are much much harder to parse, because there's dozens of formats with different lenghts.

https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers

[2020-06-30 14:03] Cretezy commented on #36
Closing for now as this seems to be working as expected.

[2020-06-30 14:03] #36 closed

[2020-07-07 10:42] kleyos commented on #13
not at all. every string with dot is not a link

[2020-07-17 01:55] edgarhernandezch opened #51 "looseUrl highlighting words at end of sentence with punctuation"
`SelectableLinkify(
                    onOpen: onOpen,
                    text: "github.com test.",
                    style: TextStyle(color: Colors.black),
                    linkStyle: TextStyle(
                        color: Colors.blue
                    ),
                    options: LinkifyOptions(
                      looseUrl: true
                    ),
                  ),`
The

[2020-07-17 13:53] ThalapathySiva opened #52 "Widget overlapping below the linkify widget"
Hi, i am facing a issue like, whatever the widget we are built below linkify widget its getting overlapping at bottom as you can see the snap below :

I have wrapped linkify with container to demonstrate the issue with a red colour.

![IMG_20200717_192031](https://user-images.githubusercontent.com/35165669/87793377-cb37bf80-c862-11ea-83bc-e584d2b2293e.jpg)

Widget tree snap here :

![image](https:

[2020-07-22 18:40] muriloventuroso opened #54 "New feature: change mouse cursor to pointer when hover"
I don't know if this plugin was designed for desktop and web support, but it works very well on both. However, for these environments it would be interesting for the mouse cursor to be changed to pointer when it is over the link.
I use a solution for this in some projects and it might be interesting to implement this plugin.

The extension below can handle the mouse cursor change using the MouseRe

[2020-07-23 23:38] Cretezy commented on #54
I own the `flutter_cursor` library, so I can tell you that this isn't possible right now.

See other issue: https://github.com/Cretezy/flutter_linkify/issues/36

I know Web has been doing many updates with cursor stuff, so I'll take a look when it's more polished, but for now it's still a bit too early

[2020-07-25 19:23] Xatta-Trone opened #55 "Url not opening in slectable linkify"
hello...thank you for making this awesome package.
I am using this for one of my projects. However, Linkify widget is working as expected, but when I changed it to SelectableLinkify then the link is not working anymore. but the text can be selected.
**how to implement both behaviour ?**

[2020-07-29 19:50] jamesilloyd commented on #55
I am also having this problem as well.

[2020-08-06 04:31] cmaster11 commented on #55
I think this was related to https://github.com/Cretezy/flutter_linkify/issues/31 , and it is now officialy in stable as of Flutter 1.20.0 release. Verified myself this is now working!

Can you please try to use the latest stable? 😄

[2020-08-11 15:34] brianbhsu opened #56 "Add excludeLastComma flag to LinkifyOptions or improve regex to remove characters at the end of URL"
Any link with a comma at the end, i.e. ("https://github.com,") will contain the comma in the link. Thus, when the link is launched, the web page will fail to load because the url is not valid.

[2020-09-22 14:56] jamesilloyd opened #58 "Incorrect link type"
When I turn on loose url detection it will create a link at the end of any sentence containing a "."

[2020-10-04 15:09] rifaldhiaw opened #59 "Unable select text when SelectableLinkify has link on it"
Hi, thanks for the handy package.

I face an issue here, when I use `SelectableLinkify` and it has a link on the text, I become unable to select the text.
if I use `showCursor: true,`, it is showing the cursor does not move from its first position
I am currently developing in the flutter web, in case if it is only happening in this platform.

Thanks

[2020-10-26 17:57] varsvat opened #60 "Text Overflowing is not handled"
We can not use any type of overflow techniques(like ellipsis , fade , etc..) which are available with the normal text widget

[2020-11-02 20:50] andoni97 opened #61 "Suport for phone numbers"
Hi! How difficult would it be to add support for phone numbers? I am willing to contribute on this issue if guidance is provided.

[2020-11-06 01:10] Cretezy commented on #44
This has been added in https://github.com/Cretezy/flutter_linkify/commit/bc6608f760a2bf1544d670bf38f08ff83cdbd958

Thank you!

[2020-11-06 01:10] #44 closed

[2020-11-06 01:11] #45 closed

[2020-11-06 01:12] Cretezy commented on #54
It might now be possible with the new Flutter cursor changes. I will investiage

[2020-11-06 01:13] Cretezy commented on #55
Yes, this should now be fixed in the latest versions of Flutter!

[2020-11-06 01:13] #55 closed

[2020-11-06 01:14] Cretezy commented on #59
Could you please provide a code example I can run to debug this? Thank you!

[2020-11-06 06:06] jasonlaw opened #62 "[Request] Expose the linkify method"
Do you mind make the internal linkify method accessible?
Thanks!

[2020-11-06 19:40] dannnnthemannnn commented on #59
Same problem for me.

`
                      SelectableLinkify(
                        text: 'This is a sample message containing a link www.google.com. Hopefully it helps debug!',
                        style: TextStyle(fontSize: 15),
                        onOpen: (link) async {
                          print(link);
                        },
                      )
`

[2020-11-06 19:46] dannnnthemannnn commented on #59
Maybe related? https://github.com/flutter/flutter/issues/61992

[2020-11-07 18:56] Cretezy commented on #62
https://github.com/Cretezy/linkify

[2020-11-07 18:56] #62 closed

[2020-11-09 12:31] janbildsoehansen opened #63 "Linkify dont work when wrapped in CupertinoButton.filled Button"
Hey im new to flutter and im facing a issuse with Linkify dont work when wrapped in CupertinoButton.filled Button
im i doing it wrong or..??

                              CupertinoButton.filled(
                                  child: Text(landmark.hjemmeside),
                                  onPressed: () {
                                    Linkify(
                                      onO

[2020-11-12 20:52] aaqibism commented on #63
You don't need to use a button unless you want the entire text to be clickable. If you only want the hyperlink to be clickable but have the style of a button consider wrapping your Linkify in a Container and styling it like a button.

[2020-11-13 03:54] suztomo commented on #21
Thank you for great library. I leave my code snippet to adopt Japanese phone numbers below so that others can tell how to pass a custom linkifier:

[code]

[code]

[2020-11-13 10:57] janbildsoehansen commented on #63
Thanks for your answer will try that

[2020-11-13 19:41] im-aditya30 opened #64 "Not able to dismiss Toolbar Options"
Toolbar Options are not dismissible for SelectableLinkify widget if tapped outside the widget

[2020-11-24 11:25] jasonlaw opened #65 "Highlight hashtag"
Hi,
Is it possible to highlight hashtag?
Thanks!

[2020-11-25 17:12] Cretezy commented on #64
Can you provide a full code example for this?

[2020-11-25 17:24] im-aditya30 commented on #64
`Scaffold(
      appBar: AppBar(title: Text("Demo")),
      body: Column(children: [
        Text(
          "Greetings!!!!",
          style: TextStyle(
            fontSize: 26,
          ),
        ),
        SizedBox(
          height: 10,
        ),
        SelectableLinkify(
          text:
              "Officia sunt nulla anim veniam ullamco et ex dolor ullamco amet ea ad ad culpa. Dolore

[2020-11-27 22:57] Cretezy commented on #59
The error posted by @dannnnthemannnn is likely the problem. I will mark as an upstream issue

[2020-12-12 12:12] josemauromani opened #66 "Change presentation text"
I need to change the presentation text of a link.
I have an pdf file to show as a link but i wanna show only the file name or an icon as a link and not the entire url.

[2020-12-20 08:43] dvird opened #67 "Cursor Stuck"
When im setting ontap there is problem what the cursor is showing up and stuck. no matter what i do its not gone

![WhatsApp Image 2020-12-20 at 10 05 19](https://user-images.githubusercontent.com/42498461/102709118-04f87080-42b0-11eb-8c6e-85811ba81afe.jpeg)

[2021-01-05 12:52] sizitnik opened #68 "Issue when parsing link inside parentheses/brackets"
First, thanks for this nice package.
Currently when link is placed inside parentheses, ex: _"Some text before (https://github.com/Cretezy/flutter_linkify)."_, this URL is parsed together with closing parentheses ")" making it invalid URL. Result: `https://github.com/Cretezy/flutter_linkify)`
Would it be possible to exclude parentheses/brackets when they are wrapped around the URL string?

[2021-01-08 00:07] deacon78 opened #69 "Parameter "textScaleFactor" is not handled in SelectableLinkify"
Hello

I have tested with Linkify, and the parameter "textScaleFactor" is handled.

This is not the case with SelectableLinkify.

Could you please correct it ?

P.S : Your package is great.

[2021-01-16 01:11] gsvano commented on #54
Hi! Can you check #70? Possible its can help.

[2021-01-19 20:04] jonbhanson opened #71 "Link for GPS coordinate"
Is it possible to make a GPS coordinate link that opens in the user's map application?  I looked through the docs but didn't find anything.

[2021-02-07 08:43] muhlba91 opened #72 "null-safety support"
Flutter's dev channel introduces null-safety. Are there plans to migrate the plugin to support null-safety? Potentially with a prerelease for people using the dev channel already?

[2021-02-15 11:37] Chralu opened #73 "Specify minLines"
Hi,

thanks for that great widget :)

`SelectableLinkify` expose `maxLines` property which is pretty handy.
In some cases, you could need for `minLines` as well.

I will submit a simple fix to pass `minLines` to the underlying text widget.

[2021-02-15 17:29] Chralu commented on #52
Hi,

I'm having the same issue with `flutter_linkify` `4.0.2`.

Thanks for that great widget though :)

[2021-02-26 15:38] #73 closed

[2021-02-26 15:42] Cretezy commented on #73
Fixed with https://github.com/Cretezy/flutter_linkify/pull/74 (release v4.1.0)

[2021-02-26 15:43] #54 closed

[2021-02-26 15:44] Cretezy commented on #66
You will need to use either a custom parser (see linkify), or build the output of the parser yourself.

Alternatively, you could also modified the output of the parser.

[2021-02-27 18:57] NarHakobyan opened #75 "Error when using SelectableLinkify"
Code example.

[code]

Error

[code]

[2021-03-01 09:18] DSPerson commented on #75
similar question

[2021-03-02 16:06] augb opened #76 "In 4.1.0, links sometimes get extra new line inserted into the text"
With 4.0.2:
<img width="637" alt="Screen Shot 2021-03-02 at 9 56 43 AM" src="https://user-images.githubusercontent.com/841357/109676897-bf251780-7b3e-11eb-8d32-1693cd8a9351.png">

<img width="512" alt="Screen Shot 2021-03-02 at 9 56 27 AM" src="https://user-images.githubusercontent.com/841357/109676901-bfbdae00-7b3e-11eb-9b39-8f2fcd6344ae.png">

With 4.1.0:

<img width="638" alt="Screen Shot 2021-

[2021-03-02 16:33] jeanmatthieud opened #77 "Multiline text"
Multiline text doesn't work as expected.

Tested on 4.0.2 and 4.1.0.

[code]

![image](https://user-images.githubusercontent.com/1443167/109681096-6aed5800-7b7d-11eb-9fd3-7247e49c482e.png)

[2021-03-02 16:48] jeanmatthieud commented on #77
I also tried the sample content `Made by https://cretezy.com\n\nMail: example@gmail.com`, and it doesn't work as expected.

[2021-03-02 17:10] jeanmatthieud commented on #77
Works fine with 3.1.3

[2021-03-03 05:55] ktw1318 commented on #75
same issue , me too,.

[2021-03-05 03:24] Cretezy commented on #72
Null-safety support is included inside v5.0.0!

[2021-03-05 03:24] #72 closed

[2021-03-05 15:28] andrea-h10 commented on #77
I'm having the same problem... if there are new lines in the text input, the linkified text output is displayed all over the place, not even in the right line order.

I can't downgrade to 3.1.3 because that is not properly handling the excludelastperiod property... so every word at the end of a sentence is being linkified. Rather in a bind here... thanks so much.

[2021-03-07 15:04] Larens94 opened #79 "SelectableLinkify Error span"
Hi, why are you sending me this error?

The following assertion was thrown building SelectableText(dirty, state: _SelectableTextState#d1317):
SelectableText only supports TextSpan; Other type of InlineSpan is not allowed
'package:flutter/src/material/selectable_text.dart':
Failed assertion: line 560 pos 12: '() {
      return _controller._textSpan.visitChildren((InlineSpan span) => span.runtimeTyp

[2021-03-08 11:01] raLaaaa commented on #75
same since upgrading to flutter 2.0

[2021-03-08 17:12] MohamedEL-Torky commented on #79
same

`flutter: ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
flutter: The following assertion was thrown building SelectableText(scrollPhysics:
flutter: NeverScrollableScrollPhysics, dirty, state: _SelectableTextState#14ce5):
flutter: SelectableText only supports TextSpan; Other type of InlineSpan is not allowed
flutter: 'package:flutter/src/

[2021-03-08 21:30] MohamedEL-Torky commented on #79
I have requested a pull request with the fix for this issue, until then you can use my fork as your package to bypass this issue.

`  flutter_linkify:
    git:
      url: https://github.com/MohamedEL-Torky/flutter_linkify`

[2021-03-14 01:36] nemoryoliver opened #81 "textAlign: TextAlign.center only works for non-url texts"
[code]

only `https://google.com test` will be centered

[2021-03-14 06:46] blono commented on #79
@MohamedEL-Torky God was here...

[2021-03-18 08:34] echomartha commented on #79
@MohamedEL-Torky  Thanks!!

[2021-03-18 09:38] deacon78 opened #82 "SelectableLinkify : SelectableText only supports TextSpan; Other type of InlineSpan is not allowed"
Hello I have this issue :

`════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following assertion was thrown building SelectableText(dirty, state: _SelectableTextState#a9446):
SelectableText only supports TextSpan; Other type of InlineSpan is not allowed
'package:flutter/src/material/selectable_text.dart':
Failed assertion: line 560 pos 12: '(

[2021-03-18 09:51] MohamedEL-Torky commented on #82
Please check #79

[2021-03-18 10:03] deacon78 commented on #79
Hello MohamedEL-Torky
This solves the issue, thanks.

But there is still this issue with selectableLinkify :
"textScaleFactor" is not handled :(

[2021-03-18 10:46] MohamedEL-Torky commented on #79
@deacon78 I've updated my fork for your use case, now you can use textScaleFactor inside SelectableLinkify.
Do flutter clean then flutter pub get and tell me if you face any problems.

[2021-03-18 10:56] deacon78 commented on #79
Mohamed, thank you very much

[2021-03-18 10:57] MohamedEL-Torky commented on #79
You're very welcome anytime.

[2021-03-18 11:51] deacon78 commented on #79
Sorry but this still doesn't work

`SelectableLinkify(
                                              onOpen: (link) async {
                                                if (await canLaunch(link.url)) {
                                                  await launch(link.url);
                                                } else {
                                                  throw 'Could n

[2021-03-18 12:24] MohamedEL-Torky commented on #79
This seems to be a local cache issue, try removing the package from the pubspec.yaml and then do flutter clean and then flutter pub get, after that add the package again in the pubspec and do a flutter pub get.

[2021-03-18 12:28] deacon78 commented on #79
It works with your tip.

A big thank you !

[2021-03-20 11:09] RedyAu commented on #79
@MohamedEL-Torky Your fix worked with our app too, but I noticed, the resulting text size is quite small, I don't think it follows the rest of the app. I may be wrong tho. Could there be any reason for this?

[2021-03-20 11:10] RedyAu commented on #75
All, check #79

[2021-04-02 04:55] NVQuan opened #83 "Support readmore for text"

[2021-04-05 23:07] searchy2 opened #84 "MaxLines No Longer Works"
Max lines no longer limits the line length.
Will followup with more testing and details.

[2021-04-12 18:22] Cretezy commented on #83
Please add more details to this issue.

Feel free to re-open once more information is added.

[2021-04-12 18:22] #83 closed

[2021-04-12 18:24] Cretezy commented on #84
Fixed in https://github.com/Cretezy/flutter_linkify/pull/85, please retest with v5.0.1!

Thanks!

[2021-04-12 18:24] #84 closed

[2021-04-12 18:26] Cretezy commented on #75
This appears to be fixed with https://github.com/Cretezy/flutter_linkify/pull/80, which has a remaining requested change. Will merge ASAP

[2021-04-12 18:26] #75 closed

[2021-04-12 18:26] Cretezy commented on #79
This appears to be fixed with #80, which has a remaining requested change. Will merge ASAP

[2021-04-12 18:27] Cretezy commented on #82
This appears to be fixed with https://github.com/Cretezy/flutter_linkify/pull/80, which has a remaining requested change. Will merge ASAP

Duplicate of https://github.com/Cretezy/flutter_linkify/issues/79

[2021-04-12 18:27] #82 closed

[2021-04-12 18:28] Cretezy commented on #71
You can add a custom parser as an option to the underlying library, https://github.com/Cretezy/linkify

This is not something that will be supported built-in, but is totally doable with current features!

[2021-04-12 18:28] #71 closed

[2021-04-12 19:38] Aanu1995 commented on #79
@Cretezy Thank you for the package. I just tested the latest version released few hours ago and this issue of SelectableLinkifyError still remain unfixed.

can you please look into the current pull request? The issue was fixed in that pull request and I would have used it but it seems to have a conflict with one of the packages am using. Thank you

[2021-04-12 19:59] Cretezy commented on #79
@Aanu1995 See my previous comment, PR #80 has comments to be addressed before merging. As soon as they are fixed, I will deploy a new version

[2021-04-13 01:27] Cretezy commented on #79
Just released 5.0.2 with this a fix for this.

[2021-04-13 01:27] #79 closed

[2021-04-14 21:45] searchy2 commented on #84
Thank you so much!
The issue is now fixed :)

[2021-04-25 18:49] didielf opened #86 "Could not launch LinkElement"
Using exactly the same code from the exampele
Exception has occurred.
"Could not launch LinkElement: 'https://cretezy.com' (cretezy.com)"

seems that canLaunch(link.url) fails. The link will launch without using the canLaunch

[2021-05-04 18:22] sisirkp commented on #77
With 3.1.3 alos it doesn't work for me.

[2021-05-04 20:41] VictorUvarov opened #87 "[Feature Request] Custom linkStyles for different LinkifyElements"
What are your thoughts about custom linkStyles for different LinkifyElements?

I'm imagining something a twitter/facebook post with hashtags, @usernames, links, etc...
e.g. `hello @username check out this link at https://www.link.com #stuff`

[2021-05-13 04:20] softuvo commented on #77
Hi
For the time being you can use his hack. It's working for me

 String getFinalString(String text) {
    var finalString = "";
    if (text.contains("\n")) {
      var des = text.split("\n");
      des.forEach((desc) {
        finalString = finalString.isEmpty
            ? finalString + desc
            : finalString + " \n" + desc;
      });
    }
    else{
    finalString = text;
    }
    re

[2021-05-13 16:51] Cretezy commented on #60
Closing as we now have the `overflow` option (been a while). Feel free to reopen if doesn't solve your issue

[2021-05-13 16:51] #60 closed

[2021-05-13 16:51] Cretezy commented on #63
@janbildsoehansen Closing as it you seem to have found the solution. Feel free to reopen!

[2021-05-13 16:51] #63 closed

[2021-05-13 16:52] Cretezy commented on #59
Bug was fixed upstream. Please retest and reopen if not fixed!

[2021-05-13 16:52] #59 closed

[2021-05-13 16:53] Cretezy commented on #87
If you can propose a clean design to implement this, I'm all for it. Let's try to keep the complexity to a minimum if possible.

[2021-05-13 16:54] Cretezy commented on #86
This would be a problem `url_launcher`, not this package.

Please refer to `url_launcher`'s documentation on this

[2021-05-13 16:54] #86 closed

[2021-05-13 16:55] #66 closed

[2021-05-13 16:56] Cretezy commented on #52
Please provide a full code example

[2021-05-13 16:56] Cretezy commented on #67
Has this been fixed? This was likely a problem with Flutter itself.

Feel free to reopen if it's not solved!

[2021-05-13 16:56] #67 closed

[2021-05-13 18:27] VictorUvarov commented on #87
I was thinking that maybe the `Linkify` widget would have a parameter that is a  function instead of a `TextStyle`.

Probably a type like:
[code]
that defaults to something like
[code]

that way the user can do something like
[code]

[2021-05-14 00:39] EdHourani opened #88 "Issue with opening on web from a mobile browser"
Hello, first off, thanks very much for this package!

I have a project deployed to iOS, android and web. There is a use case where people will visit the web version from a mobile device. I had reports of crashes when visiting a page

I found that the issue was in a widget that uses this package.
After further investigation, the issue has something to do with the MouseRegion.

I took the easiest ap

[2021-05-15 10:30] sisirkp commented on #77
For me @softuvo 's solution also didnt work. However, I extended his solution and created a different version of it. This should work in all cases:

`Widget _buildLineSeparatedLinkableTexts(String text) {
    var textLines = text.split("\\n");
    final lineTexts = textLines.map((line) {
      return Padding(
        padding: const EdgeInsets.only(bottom: 5.0),
        child: Linkify(
          on

[2021-07-05 08:56] mohammedbabelly opened #90 "#Hashtag support"
Could you please add the hashtag support, so it colors the hashtag like emails or allows us to use widgets in the text property so we use other packages like [Hatagable](https://pub.dev/packages/hashtagable)

[2021-07-21 19:16] VictorUvarov commented on #90
You can create your own custom `Linkifier` and use the `linkifiers` property on the `Linkify` widget.

[code]

[code]

[2021-07-26 08:24] kmigntw opened #93 "Wrong email Regex pattern"
Hello, the library does not recognize emails with longer extension (.world for example - it is getting .worl only).

The problem is in the Regex expresion. To fix that I added changed the length from 4 to 6. But it will be good to have it in the next bug release

` r'^(.*?)((mailto:)?[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4})',`
` r'^(.*?)((mailto:)?[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,6})',`

[2021-07-27 12:34] ambrose-gladwell-sonocent opened #94 "Clicking on a link calls both onTap and onOpen"
The docs suggest that `onTap` is only called when clicking on selectable text and not links:

[code]
However, clicking a link calls both `onOpen` and `onTap` usually in that order.

[2021-08-02 12:21] francis-legaspi commented on #90
@VictorUvarov I hope this is not too much, but can you give me snippets on how you dot it? need to support hashtags, email and urls for my text description, Thank you very much!

[2021-08-03 03:07] VictorUvarov commented on #90
HashtagLinkifier and HashtagElement. Just update the regex to also support @.
[code]

Tests
[code]

[2021-08-03 05:05] francis-legaspi commented on #90
Thank You @VictorUvarov  I appreciate your fast response!

[2021-08-03 21:52] joknjokn opened #95 "Is it possible to add support for other languages?"
I want to be able to handle special Danish characters when recognizing hashtags. Is it possible? Specifically the characters ÆØÅ.

[2021-08-22 06:48] BakerKoussa opened #98 "onOpen isn't working"
SelectableLinkify(
            onOpen: (link) async {
              print("Clicked ${link.url}!");
              if (await canLaunch(link.url)) {
                await launch(link.url);
              } else {
                throw 'Could not launch $link';
              }
            },
            options: LinkifyOptions(humanize: false),
            text: widget.s.details, // 40 line text with l

[2021-08-25 10:43] josedavidrp opened #99 "Detect links without https:// or www. Only detecting the top level domain (.com,.org,.etc)"
Maybe there is a parameter that I couldn't find to allow this, but would be nice if there is a way to detect a link only by the .com,.org,.etc.
Maybe a new parameter where you can make a list like ['com','org,'us','shop'] so if a word end in one of them like "github.com" convert it in a link.

[2021-09-19 00:24] Nanthno commented on #22
In case anyone else encounters this issue, the workaround I found is to manually set textScaleFactor in the Linkify constructor to MediaQuery.of(context).textScaleFactor

[2021-11-10 10:05] KrisPrajapati commented on #99
You can enable `looseUrl` by passing it in options

`options: LinkifyOptions(looseUrl: true)`

[2021-11-16 21:14] cybertheory opened #100 "Callback function for once link is found?"
Hi! I want to generate link previews for my links. It would be very helpful to have linkify do the link extraction and then pass the link into another widget. Would this be possible to implement? I'll take a look into this as well and maybe make a PR in the future!

[2021-11-22 08:09] b1acKr0se commented on #87
Hello, any update on this? I think @VictorUvarov's approach is quite solid.

[2021-11-22 09:55] michael-chiu opened #101 "Linkify Long Text with multiples links Overrlapping"
Long text with multiple links in ScrollView overlapping. iOS Version: 15.1 (iPhone X). Does anyone have the same issue? Any help would be appreciated, thank you.

![IMG_4097](https://user-images.githubusercontent.com/47733634/142839837-d160234e-5627-446c-906e-cb5594ae6631.PNG)

**Flutter Doctor:**

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.5.3, on m

[2021-11-22 12:20] michael-chiu commented on #101
Tested if style is not specified in LInkify, there is no overlapping in text.

[2021-12-22 13:38] wiwimaster opened #102 "Support for Link titles like in HTML Links"
Hi,

If I understand flutter_linkify correctly, it can convert the text "https://some-nice-url" into a link, but the visible link text would also be "https://some-nice-url", correct?

Is it possible to support a deviating link title (think of "click here") through some kind of link prefix / suffix, or converting a classic HTML link like <a href="https://some-nice-url">click here</a> with flutter_l

[2022-01-06 08:43] duocnguyen6799 opened #103 "LinkifyOptions concats 'http/https' to my text automatically"
When I set **options: LinkifyOptions(humanize: false, looseUrl: false)**, the text concats with 'http/https' automatically.
Example:
- My text: abc.com => Display text: http://abc.com
- The same case is with email.

[2022-01-13 04:04] madara134 commented on #101
same issue

[2022-01-26 05:44] jean-morissette commented on #102
We have the same need. Any update on this issue?

[2022-03-20 06:39] petchgabriel commented on #90
Could you help me on RegExp for supporting Thai language? Thank you.

[2022-03-21 15:45] #90 closed

[2022-03-22 12:32] Yahllil commented on #21
Any update with this one? Is it planned to be added sometime?

[2022-03-22 12:59] suztomo commented on #21
@Yahllil I found the phone number pattern differs in different countries. While you may wait for somebody's implementation, it might not work for your use case in your country.

[2022-03-22 13:04] suztomo commented on #21
@Yahllil Do you know valid US number patterns? (I'm not familiar with it much)

[2022-03-22 16:13] Yahllil commented on #21
Works as well

[2022-03-24 08:05] erayerdin commented on #102
Welp, for those looking for a quick solution, this is achievable with [flutter_markdown](https://pub.dev/packages/flutter_markdown) package, which is an overkill but does the thing.

[2022-03-28 20:35] rekire commented on #102
I wrote now in about on hour this simple url parser for the widget RichText: https://gist.github.com/rekire/0b957f62a5d55cb72e4ff6a23bd287d4

I hope that will help others.

[2022-04-11 07:21] Onekki opened #105 "When I linkify the text like "{url: https:abc.com}" or "{url: https:abc.com, msg:abc}", the "," and "}" are identified into linkified text."
When I linkify the text like "{url: https:abc.com}" or "{url: https:abc.com, msg:abc}", the "," and "}" are identified into linkified text.

[2022-04-28 13:27] 623637646 opened #106 "A weird UI issue"
Example code:

[code]

UI:
<img width="446" alt="Screenshot 2022-04-28 at 9 25 35 PM" src="https://user-images.githubusercontent.com/5275802/165762618-135049dc-5e1d-4792-98c9-b0e55c03f687.png">

Expected: The "Google" and the link should be on the same line.

[2022-05-05 13:51] deepak16paliwal opened #107 "Makes UnWanted Text to Link"
when getting text like suggestions..on that is show as an url. So if you have any fix for it please provide.

[2022-06-09 12:01] sebastianbuechler commented on #105
`https:abc.com` is not a valid url. If I changed it to `{url: https://abc.com, msg:abc}` it correctly identifies `https:abc.com` as link. What did you expect?
![image](https://user-images.githubusercontent.com/42775578/172842140-4d3145a6-0db2-44bd-8838-4f3c66656d37.png)

[2022-06-15 00:09] sherazahmad720 commented on #30
There is no option to change the selection colours  and handles colours when selecting a text.
if you add this it will become awesome

[2022-07-25 06:41] Ayushrestha05 opened #109 "Max Lines and Overflow Property do not work with Links itself"
![Screenshot_20220725-122251__01](https://user-images.githubusercontent.com/54852975/180713900-7bfa4732-369c-441e-a30c-6505342c1f9b.jpg)
Mutiple Lines in the Link is causing the widget to expand. MaxLines and Overflow works on normal text but not on Links.
[code]

[2022-08-11 09:33] BenCherif commented on #83
Hi any update , i think this feature is required ,because if there a long text we need to show "ReadMore/ReadLess" options in text widget.
Kind regards

[2022-08-15 18:07] Yogesh-Dubey-Ayesavi commented on #100
did you got something ?

[2022-10-10 09:38] Kiruel opened #110 "[proposition]: Allow Linkify to take TextSpan as parameter"
Should be possible to:

[code]

In this configuration `text` parameter should be optionals.

[2022-10-19 17:00] romandrahan commented on #109
+1

[2022-10-26 00:41] abulka opened #112 "examples and API doco out of date"
I installed `5.0.2` and the readme examples and API doco uses deprecated calls `canLaunch` and `launch`. E.g. the example

[code]

should be something like:

[code]

This is pretty confusing for newcomers to this project.

[2022-10-26 14:01] mbfakourii opened #113 "support anyRtl"
Hi can you support anyRtl to display mixed text from rtl and ltr
like this
![jndEU](https://user-images.githubusercontent.com/20955005/198046807-34b4922e-e2d4-49d1-b8e6-4b445648d320.png)

[2022-11-29 10:44] felixwortmann opened #115 "Problem with single character domains (looseUrlRegex) (a.co)"
# Single character domains do not work properly in the current version (5.0.2) because the regex does not support it
I encountered some problems with shortened amazon links (https://a.co). These do not work with `looseUrlRegex`. Below is some code to reproduce the issue (the regex are taken directly from the library code):

## Code
[code]
## Output
[code]

[2022-11-29 17:31] DennisAshford opened #116 "[Feature Request] Add ReadMore Support"
Would be great to add ReadMore support for TextOverflow. Allow for the Text to be expanded to show the full string upon clicking.